:root {
  --geostat-color: #0080be;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0 25px 0 0;
}
#print-btn {
  display: none;
  visibility: none;
}

@media print {
  table {
    border: solid #000 !important;
    border-width: 1px 0 0 1px !important;
  }

  th,
  td {
    border: solid #000 !important;
    border-width: 0 1px 1px 0 !important;
  }
}
